:root {
  --main-text-color: #757575;
  --main-title-color: #212121;
  --main-background-color: #ffffff;
  --lightgrey-background: #f5f4fa;
  --darkgrey-background: #2f303a;
  --white-title: #ffffff;
  --accent-color: #2196f3;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
